@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, etails, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, button {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-family: inherit; }

main, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  min-width: 360px;
  width: 100%;
  font-size: 16px;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  word-break: keep-all;
  padding-top: 50px;
  box-sizing: border-box;
  background-color: #212128; }
  body *, body *::before, body *::after {
    box-sizing: border-box; }
  @media (min-width: 1024px) {
    body {
      padding-top: 110px; } }

.container {
  display: block;
  max-width: 1200px;
  padding: 0 27px;
  margin: 0 auto; }
  @media (min-width: 1024px) {
    .container {
      padding: 0 20px; } }

.container-fluid {
  display: block;
  width: 100%;
  padding: 0;
  margin: 0 auto; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0; }

hr {
  display: block;
  border: 0;
  margin: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input, select, textarea {
  font-family: inherit;
  outline: none !important; }
  input:focus-visible, select:focus-visible, textarea:focus-visible {
    outline: 2px solid #000; }

a, button {
  color: #000;
  cursor: pointer;
  border: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  background: none; }
  a:hover, button:hover {
    color: #000; }

.jumbotron {
  padding-bottom: 70px; }
  .jumbotron .container {
    position: relative;
    padding: 60px 27px 48px; }
    .jumbotron .container .summary {
      text-align: center; }
      .jumbotron .container .summary > h3 {
        display: block;
        font-weight: 700;
        font-size: 24px;
        line-height: 34px;
        color: #fff; }
      .jumbotron .container .summary > p {
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        margin-top: 10px;
        color: rgba(255, 255, 255, 0.58); }
        .jumbotron .container .summary > p br {
          display: none; }
      .jumbotron .container .summary .btn-area {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        font-size: 0;
        text-align: center; }
        .jumbotron .container .summary .btn-area > .btn {
          display: inline-block;
          vertical-align: top;
          width: 154px;
          font-weight: 600;
          font-size: 16px;
          color: #fff;
          line-height: 46px;
          border-radius: 100px;
          margin-right: 10px; }
          .jumbotron .container .summary .btn-area > .btn:last-child {
            margin-right: 0; }
          .jumbotron .container .summary .btn-area > .btn.btn-gray {
            background-color: #52526B; }
          .jumbotron .container .summary .btn-area > .btn.btn-blue {
            background-color: #0059FF; }
    .jumbotron .container .item {
      margin-top: 20px;
      padding-bottom: 20px; }
      .jumbotron .container .item .frame {
        position: relative;
        width: 226px;
        margin: 0 auto; }
        .jumbotron .container .item .frame img {
          display: block;
          max-width: 100%; }
        .jumbotron .container .item .frame .item-slider {
          position: absolute;
          top: 55px;
          left: 50%;
          width: calc(100% - 70px);
          transform: translateX(-50%);
          overflow: hidden;
          border-radius: 8px;
          box-shadow: 12px 12px 24px #000000; }
          .jumbotron .container .item .frame .item-slider .slick-list .slick-track .slick-slide > figure img {
            width: 100%;
            display: block; }
  @media (min-width: 1024px) {
    .jumbotron {
      padding-bottom: 220px; }
      .jumbotron .container {
        padding: 260px 20px 0; }
        .jumbotron .container .summary {
          text-align: left; }
          .jumbotron .container .summary > h3 {
            font-size: 48px;
            line-height: 72px; }
          .jumbotron .container .summary > p {
            font-size: 24px;
            line-height: 34px;
            margin-top: 50px; }
            .jumbotron .container .summary > p br {
              display: block; }
          .jumbotron .container .summary .btn-area {
            position: static;
            text-align: left;
            margin-top: 62px; }
            .jumbotron .container .summary .btn-area > .btn {
              text-align: center; }
        .jumbotron .container .item {
          position: absolute;
          top: 70px;
          right: 20px;
          margin: 0;
          padding-bottom: 0; }
          .jumbotron .container .item .frame {
            width: 505px;
            padding: 0; }
            .jumbotron .container .item .frame .item-slider {
              top: 128px;
              width: calc(100% - 145px); } }

/* experience */
.experience {
  padding: 70px 0 65px; }
  .experience .container .section-header {
    text-align: center;
    padding-bottom: 40px; }
    .experience .container .section-header h3 {
      font-size: 24px;
      line-height: 34px;
      font-weight: 700;
      color: #fff; }
    .experience .container .section-header p {
      font-size: 16px;
      color: #A3A3B5;
      font-weight: 600;
      line-height: 24px;
      margin-top: 10px; }
  .experience .container .section-content > ul > li .box {
    position: relative;
    display: block;
    padding: 24px;
    border-radius: 15px;
    background-color: #32323D;
    box-shadow: 0px 12px 12px rgba(0, 0, 0, 0.5); }
    .experience .container .section-content > ul > li .box strong {
      display: block;
      font-weight: 700;
      font-size: 20px;
      line-height: 30px;
      color: #fff; }
    .experience .container .section-content > ul > li .box > figure {
      margin-top: 25px;
      padding: 0 10px; }
      .experience .container .section-content > ul > li .box > figure img {
        display: block;
        max-width: 100%;
        margin: 0 auto; }
    .experience .container .section-content > ul > li .box small {
      display: block;
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      color: #A2A2A5;
      margin-top: 25px; }
  .experience .container .section-content > ul > li:nth-of-type(1) .box {
    padding-bottom: 30px; }
    .experience .container .section-content > ul > li:nth-of-type(1) .box > figure {
      overflow: hidden;
      border-radius: 8px;
      filter: drop-shadow(12px 12px 24px #000000); }
  .experience .container .section-content > ul > li:nth-of-type(2) .box {
    background-image: url(/assets/images/bg_experience_list.png);
    background-repeat: no-repeat;
    background-position: calc(100% + 24px) 100%;
    background-size: 157px auto; }
    .experience .container .section-content > ul > li:nth-of-type(2) .box > figure {
      margin-top: 45px;
      padding: 0; }
  .experience .container .section-content > ul > li ~ li {
    margin-top: 24px; }
  @media (min-width: 1024px) {
    .experience {
      padding: 60px 0 120px; }
      .experience .container .section-header {
        padding-bottom: 80px; }
        .experience .container .section-header br {
          display: none; }
        .experience .container .section-header h3 {
          font-size: 48px;
          line-height: 72px; }
        .experience .container .section-header p {
          font-size: 24px;
          line-height: 34px;
          margin-top: 16px; }
      .experience .container .section-content > ul {
        display: table;
        width: 100%;
        table-layout: fixed; }
        .experience .container .section-content > ul > li {
          display: table-cell;
          vertical-align: top; }
          .experience .container .section-content > ul > li .box {
            position: relative;
            padding: 40px; }
            .experience .container .section-content > ul > li .box strong {
              font-size: 32px;
              line-height: 48px; }
            .experience .container .section-content > ul > li .box small {
              position: absolute;
              bottom: 40px;
              left: 40px; }
          .experience .container .section-content > ul > li:nth-of-type(1) {
            padding-right: 12px; }
            .experience .container .section-content > ul > li:nth-of-type(1) .box {
              padding-bottom: 87px; }
              .experience .container .section-content > ul > li:nth-of-type(1) .box > figure {
                padding: 0;
                margin-top: 68px; }
          .experience .container .section-content > ul > li:nth-of-type(2) {
            padding-left: 12px; }
            .experience .container .section-content > ul > li:nth-of-type(2) .box {
              padding-bottom: 142px;
              background-size: auto;
              background-position: calc(100% + 39px) 100%; }
              .experience .container .section-content > ul > li:nth-of-type(2) .box > figure {
                margin-top: 97px; }
          .experience .container .section-content > ul > li ~ li {
            margin-top: 0; } }

/* wallet */
.wallet {
  padding: 64px 0;
  background-color: #191920; }
  .wallet .container .section-header {
    text-align: center;
    padding-bottom: 40px; }
    .wallet .container .section-header h3 {
      font-size: 24px;
      line-height: 34px;
      font-weight: 700;
      color: #fff;
      letter-spacing: -.5px; }
    .wallet .container .section-header p {
      font-size: 16px;
      color: #A3A3B5;
      font-weight: 600;
      line-height: 24px;
      margin-top: 10px; }
  .wallet .container .section-content > ul {
    font-size: 0; }
    .wallet .container .section-content > ul > li > .box {
      padding: 24px 24px 32px;
      background-color: #32323D;
      box-shadow: 0px 12px 12px rgba(0, 0, 0, 0.5);
      border-radius: 15px; }
      .wallet .container .section-content > ul > li > .box strong {
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
        color: #fff;
        letter-spacing: -.5px; }
      .wallet .container .section-content > ul > li > .box figure {
        margin-top: 24px; }
        .wallet .container .section-content > ul > li > .box figure img {
          display: block;
          max-width: 100%;
          margin: 0 auto; }
    .wallet .container .section-content > ul > li ~ li {
      margin-top: 24px; }
      .wallet .container .section-content > ul > li ~ li .box figure {
        overflow: hidden;
        padding: 0 13px;
        border-radius: 8px;
        filter: drop-shadow(12px 12px 24px #000000); }
    .wallet .container .section-content > ul > li:nth-of-type(1) .box {
      padding-bottom: 0; }
      .wallet .container .section-content > ul > li:nth-of-type(1) .box figure {
        width: calc(100% + 48px);
        margin: 20px -24px 0; }
  @media (min-width: 1024px) {
    .wallet {
      padding: 120px 0; }
      .wallet .container .section-header {
        padding-bottom: 80px; }
        .wallet .container .section-header h3 {
          font-size: 48px;
          line-height: 72px;
          letter-spacing: 0; }
        .wallet .container .section-header p {
          font-size: 24px;
          line-height: 34px;
          margin-top: 16px; }
      .wallet .container .section-content > ul > li .box {
        padding: 40px 40px 50px; }
        .wallet .container .section-content > ul > li .box strong {
          font-size: 30px;
          line-height: 48px; }
      .wallet .container .section-content > ul > li:nth-of-type(1) {
        display: block;
        width: 100%; }
        .wallet .container .section-content > ul > li:nth-of-type(1) .box figure {
          margin-top: 0; }
      .wallet .container .section-content > ul > li ~ li {
        display: inline-block;
        vertical-align: top;
        width: 50%; }
        .wallet .container .section-content > ul > li ~ li .box figure {
          padding: 0;
          margin-top: 43px; }
      .wallet .container .section-content > ul > li:nth-of-type(2) {
        padding-right: 12px; }
      .wallet .container .section-content > ul > li:nth-of-type(3) {
        padding-left: 12px; } }
  @media (min-width: 1200px) {
    .wallet .container .section-content > ul > li .box strong {
      font-size: 32px; } }

/* priority */
.priority {
  padding: 64px 0; }
  .priority .container .section-header {
    text-align: center;
    padding-bottom: 40px; }
    .priority .container .section-header h3 {
      font-size: 24px;
      line-height: 34px;
      font-weight: 700;
      color: #fff;
      letter-spacing: -.5px; }
    .priority .container .section-header p {
      font-size: 16px;
      color: #A3A3B5;
      font-weight: 600;
      line-height: 24px;
      margin-top: 10px; }
    .priority .container .section-header ~ .section-header {
      margin-top: 64px; }
  .priority .container .section-content .basic-list {
    display: table;
    width: 100%;
    height: 100%;
    table-layout: fixed; }
    .priority .container .section-content .basic-list > li {
      display: table-cell;
      width: 50%;
      height: 100%;
      vertical-align: top; }
      .priority .container .section-content .basic-list > li .box {
        position: relative;
        height: 100%;
        padding: 28px 14px 20px;
        box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        background-color: #32323D; }
        .priority .container .section-content .basic-list > li .box .figure {
          display: table;
          width: 100%; }
          .priority .container .section-content .basic-list > li .box .figure > div {
            display: table-cell;
            vertical-align: middle;
            height: 64px; }
            .priority .container .section-content .basic-list > li .box .figure > div img {
              display: block;
              margin: 0 auto; }
        .priority .container .section-content .basic-list > li .box .details {
          text-align: center;
          margin-top: 15px; }
          .priority .container .section-content .basic-list > li .box .details strong {
            display: block;
            font-weight: 600;
            font-size: 16px;
            color: #fff;
            line-height: 24px; }
          .priority .container .section-content .basic-list > li .box .details p {
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;
            color: #E7E8F3;
            margin-top: 10px; }
      .priority .container .section-content .basic-list > li:nth-of-type(1) {
        padding-right: 10px; }
        .priority .container .section-content .basic-list > li:nth-of-type(1) .box .figure > div img {
          width: 37px; }
      .priority .container .section-content .basic-list > li:nth-of-type(2) {
        padding-left: 10px; }
        .priority .container .section-content .basic-list > li:nth-of-type(2) .box .figure > div img {
          width: 43px; }
  .priority .container .section-content .commnunity-list > li > .box {
    height: 378px;
    padding: 20px;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    background-color: #32323D;
    background-repeat: no-repeat; }
    .priority .container .section-content .commnunity-list > li > .box strong {
      display: block;
      font-weight: 700;
      font-size: 18px;
      line-height: 27px; }
    .priority .container .section-content .commnunity-list > li > .box a {
      display: block;
      width: 154px;
      font-size: 18px;
      font-weight: 700;
      line-height: 48px;
      text-align: center;
      color: #fff;
      border-radius: 30px;
      margin-top: 10px;
      background-color: #0059FF; }
  .priority .container .section-content .commnunity-list > li ~ li {
    margin-top: 30px; }
  .priority .container .section-content .commnunity-list > li:nth-of-type(1) .box {
    background-image: url(/assets/images/bg_comm01.svg);
    background-size: 298px 363px;
    background-position: 100% calc(100% + 55px); }
  .priority .container .section-content .commnunity-list > li:nth-of-type(2) .box {
    background-image: url(/assets/images/bg_comm02.svg);
    background-size: 283px 290px;
    background-position: calc(100% + 35px) calc(100% + 46px); }
  .priority .container .section-content .commnunity-list > li:nth-of-type(3) .box {
    background-image: url(/assets/images/bg_comm03.svg);
    background-size: 332px 323px;
    background-position: calc(100% + 20px) calc(100% + 20px); }
  @media (min-width: 1024px) {
    .priority {
      padding: 120px 0; }
      .priority .container .section-header {
        padding-bottom: 80px; }
        .priority .container .section-header h3 {
          font-size: 48px;
          line-height: 72px;
          letter-spacing: 0; }
        .priority .container .section-header p {
          font-size: 24px;
          line-height: 34px;
          margin-top: 16px; }
        .priority .container .section-header ~ .section-header {
          margin-top: 160px; }
      .priority .container .section-content .basic-list > li .box {
        position: relative;
        padding: 60px 45px 60px 194px; }
        .priority .container .section-content .basic-list > li .box .figure {
          position: absolute;
          top: 50%;
          left: 80px;
          display: inline-block;
          width: auto;
          transform: translateY(-50%); }
          .priority .container .section-content .basic-list > li .box .figure > div {
            display: inline-block;
            height: auto; }
            .priority .container .section-content .basic-list > li .box .figure > div img {
              width: auto !important; }
        .priority .container .section-content .basic-list > li .box .details {
          text-align: left;
          margin: 0; }
          .priority .container .section-content .basic-list > li .box .details strong {
            font-size: 28px;
            line-height: 42px; }
          .priority .container .section-content .basic-list > li .box .details p {
            font-size: 16px;
            line-height: 24px;
            margin-top: 24px; }
      .priority .container .section-content .basic-list > li:nth-of-type(1) {
        padding-right: 13px; }
      .priority .container .section-content .basic-list > li:nth-of-type(2) {
        padding-left: 13px; }
        .priority .container .section-content .basic-list > li:nth-of-type(2) .box .figure {
          left: 68px; }
      .priority .container .section-content .commnunity-list {
        position: relative;
        padding-left: 460px; }
        .priority .container .section-content .commnunity-list > li .box {
          height: 314px;
          padding: 18px 33px;
          background-size: auto !important; }
          .priority .container .section-content .commnunity-list > li .box strong {
            font-size: 24px;
            line-height: 60px; }
        .priority .container .section-content .commnunity-list > li ~ li {
          margin-top: 0; }
        .priority .container .section-content .commnunity-list > li:nth-of-type(2) ~ li {
          margin-top: 50px; }
        .priority .container .section-content .commnunity-list > li:nth-of-type(1) {
          position: absolute;
          top: 0;
          left: 0; }
          .priority .container .section-content .commnunity-list > li:nth-of-type(1) .box {
            width: 410px;
            height: 680px; }
        .priority .container .section-content .commnunity-list > li .box {
          border-radius: 30px;
          box-shadow: none; } }
  @media (min-width: 1200px) {
    .priority .container .section-content .commnunity-list {
      padding-left: 520px; }
      .priority .container .section-content .commnunity-list > li ~ li {
        margin-top: 0; }
      .priority .container .section-content .commnunity-list > li:nth-of-type(1) {
        position: absolute;
        top: 0;
        left: 0; }
        .priority .container .section-content .commnunity-list > li:nth-of-type(1) .box {
          width: 470px;
          height: 680px; } }

/*# sourceMappingURL=main.css.map */
