@import 'common';

.sub-common {
    padding: 60px 0 50px;
    .container {
        color: #fff;
        h3 {
            font-weight: 700;
            font-size: 30px;
            line-height: 45px;
        }
        strong {
            display: block;
            font-weight: 700;
            font-size: 25px;
            line-height: 38px;
        }
        b {
            display: block;
            font-weight: 700;
            font-size: 17px;
            line-height: 26px;
            small {
                display: block;
            }
        }
        p {
            font-weight: 400;
            font-size: 15px;
            line-height: 22px;
        }
        > ul {
            padding-left: 5px;
            > li {
                position: relative;
                font-weight: 400;
                font-size: 15px;
                line-height: 22px;
                padding-left: 10px;
                &:before {
                    position: absolute;
                    top: 10px;
                    left: 0;
                    width: 3px;
                    height: 3px;
                    border-radius: 50%;
                    display: block;
                    content: '';
                    background-color: #fff;
                }
            }
        }
        > ol {
            padding-left: 5px;
            > li {
                position: relative;
                font-weight: 400;
                font-size: 15px;
                line-height: 22px;
                padding-left: 20px;
                counter-increment: list-index;
                &:before {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 20px;
                    text-align: right;
                    padding-right: 5px;
                    content: counter(list-index)'.';
                }
            }
        }
    }
    @media(min-width: $md) {
        .container {
            h3 {
                font-size: 60px;
                line-height: 90px;
            }
            strong {
                font-size: 36px;
                line-height: 54px;
            }
            b {
                font-size: 25px;
                line-height: 38px;
            }
            p {
                font-size: 20px;
                line-height: 30px;
            }
            > ul {
                li {
                    font-size: 20px;
                    line-height: 30px;
                    padding-left: 15px;
                    &:before {
                        top: 13px;
                        width: 4px;
                        height: 4px;
                    }
                }
            }
            > ol {
                > li {
                    font-size: 20px;
                    line-height: 30px;
                    padding-left: 30px;
                    &:before {
                        width: 30px;
                        padding-right: 5px;
                    }
                }
            }
        }
    }
}

.dashboard-commoing {
    img {
        width: 100%;
        display: block;
    }
}





















































